{{!-- Hero Section --}}

<section
  class="hero{{#if (eq contentAlignment 'left')}} hero--left{{/if}}{{#if (eq contentAlignment 'right')}} hero--right{{/if}}{{#if (eq contentWidth 'regular')}} hero--narrow{{/if}}"
  style="{{sectionStyle}}"
>
  <div class="hero__content">
    <h2 class="hero__heading">
      {{#if heading}}{{heading}}{{else}}Enter heading text{{/if}}
    </h2>
    {{#if subheading}}
      <p class="hero__subheading">{{subheading}}</p>
    {{else}}
      <p class="hero__subheading hero__placeholder">Enter subheading text</p>
    {{/if}}
    {{#if showButton}}
      <a href="{{#if buttonLink}}{{buttonLink}}{{else}}#{{/if}}" class="hero__button">
        {{#if buttonText}}{{buttonText}}{{else}}Add button text{{/if}}
      </a>
    {{/if}}
  </div>
</section>
