{{!-- Ghost Grid Section --}}
<section class="grid" style="{{sectionStyle}}">
  <div class="grid__columns">
    {{#if (length cards)}}
      {{#each cards}}
        <article class="grid__card">
          {{#if title}}<h3 class="grid__title">{{title}}</h3>{{/if}}
          {{#if description}}<p class="grid__description">{{description}}</p>{{/if}}
          {{#if buttonText}}
            <a href="{{#if buttonLink}}{{buttonLink}}{{else}}#{{/if}}" class="grid__button">
              {{buttonText}}
            </a>
          {{/if}}
        </article>
      {{/each}}
    {{else}}
      <div class="grid__placeholder">
        <p>Left: Tag a page with <code>{{leftColumnTag}}</code></p>
      </div>
      <div class="grid__placeholder">
        <p>Right: Tag a page with <code>{{rightColumnTag}}</code></p>
      </div>
    {{/if}}
  </div>
</section>
