{{!-- Image With Text Section - Source Template
     This is a placeholder that gets replaced by engine-rendered content in preview.
     During export, Defalt Theme Editor prepends styles with user config values. --}}

{{#get "pages" filter="tag:hash-image-with-text" limit="1" include="tags,authors"}}
    {{#if pages}}
        {{#foreach pages}}
            <section class="gd-image-text-section{{!-- defalt-image-with-text-section-classes --}}" data-section-id="image-with-text" data-page-id="{{id}}">
                <div class="gd-image-text-container">
                    {{!-- defalt-image-with-text-content-start --}}
                    <div class="gd-image-text-content{{#unless feature_image}} gd-image-text-no-image{{/unless}}{{!-- defalt-image-with-text-content-classes --}}">
                        {{#if feature_image}}
                            <div class="gd-image-text-image">
                                <img src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                            </div>
                        {{/if}}
                        <div class="gd-image-text-text">
                            <h2 class="gd-image-text-heading">{{title}}</h2>
                            {{#if custom_excerpt}}
                                <p class="gd-image-text-description">{{custom_excerpt}}</p>
                            {{else}}
                                {{#if excerpt}}
                                    <p class="gd-image-text-description">{{excerpt}}</p>
                                {{/if}}
                            {{/if}}
                            {{#if html}}
                                <div class="gd-image-text-buttons">
                                    {{{html}}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    {{!-- defalt-image-with-text-content-end --}}
                </div>
            </section>
        {{/foreach}}
    {{/if}}
{{/get}}
